body {
    background-color: white;
}

#task-form-input {
    width: 40%;
}

.form {
    margin: 20px 0;
    padding: 10px;
    color: white;
}

.form-group {
    margin-bottom: 40px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

h1 {
    border-bottom: 1px solid grey;
    padding: 10px;
    margin-bottom: 40px;
}

.menu-bg {
    background-color: #1A2930;
}