/* 
    blue - #4A74B5
    light blue - #A6B6DD, rgba(166, 182, 221, 0.2)
    dark - #1D2B30
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600|Roboto+Condensed:300,400');

html {
    font-size: 62.5%;
    box-sizing: border-box;
    color: #4A74B5;
}

body {
    font-size: 2rem;
}

h1 {
    font-size: 2.4rem;
    margin-top: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #4A74B5;
}

hr {
    width: 100%;
    color: #4A74B5;
}

.form-group {
    width: 100%;
    margin: 0 auto;
}

#task-form-input {
    margin: 1rem auto;
    background-color: rgba(166, 182, 221, 0.2);
    border: none;
    height: 4.2rem;
}

input[type="text"]
{
    font-size: 1.8rem;
}

.errors {
    font-size: 1.6rem;
    color: #AA2727;
}

.flex-container {
    margin: 2rem auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn2 {
    /* background-color: rgba(74, 116, 181, 1); */
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    padding: 0.8rem 0;
    margin: 0 auto;
    color: rgba(74, 116, 181, 1);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2.4rem;
    text-transform: uppercase;
}

.divider{
    left:50%;
    top:10%;
    bottom:10%;
    border-left:1px solid rgba(74, 116, 181, 1);
}


button i {
    padding: 0 0.3rem;
    margin: 0 auto;
}

.disabled {
    /* background-color: rgba(74, 116, 181, 0.6); */
    background-color: transparent;
    color: rgba(74, 116, 181, 0.6);
}

.tasks-table  {
    background-color: white;
    width: 100%;
}

th {
    background-color: white;
}

tr:nth-child(even) {
    background-color: rgba(166, 182, 221, 0.2);
}

tr.finished {
    /* background-color: rgba(255, 147, 30, 0.2); */
    text-decoration: line-through;
    color: #A6B6DD;
}

table thead {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    color: #1D2B30;
    margin-bottom: 1rem;
    border-top: solid #4A74B5 0.1rem;
    border-bottom: solid #4A74B5 0.1rem;
}

tbody {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    color: #4A74B5;
}

/* CUSTOM BOOTSTRAP CHECKBOXES - CHANGES */


.custom-control-label::before, 
.custom-control-label::after {
    left: 1.5rem;
    top: .75rem;
    width: 1.5rem;
    height: 1.5rem;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
  background-color: #4A74B5;
  border-radius: 1rem;
}

.custom-control-label::before {
    border: solid 0.1rem #4A74B5;
    background-color: transparent;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-image: none;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 1rem;
}

/* ASCENDING AND DESCENDING ARROWS */

table th {
    text-align: center;
}

*, ::after, ::before {
    background-clip: padding-box
}



table th:not(:first-child) {
    background-color: white;
    position: relative;
    cursor: pointer;
}

table th:nth-of-type(1) {
    width: 14%;
}

table th:nth-of-type(2) {
    width: 76%;
    padding: 0 1rem;
}

table th:nth-of-type(3) {
    width: 10%;
    padding: 0 1rem;
}

table th:not(:first-child):after {
    content: "";
    display: none;
    width: 0;
    height: 0;
    margin-top: -5px;

    position: absolute;
    top: 50%;
    right: 1rem;
}

table th:not(:first-child).asc:after {
    display: block;
    border-style: solid;
    border-width: 0 5px 10px 5px;
    border-color: transparent transparent #4A74B5 transparent;
}

table th:not(:first-child).desc:after {
    display: block;
    border-style: solid;
    border-width: 10px 5px 0 5px;
    border-color: #4A74B5 transparent transparent transparent;
}


table td:nth-of-type(2) {
    padding: 0.5rem 1rem;
}

table td:nth-of-type(3) {
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
}



@media only screen and (min-width: 380px) {

    .flex-container {
        justify-content: flex-end;
    }

    table th:nth-of-type(1) {
        width: 8%;
    }
    
    table th:nth-of-type(2) {
        width: 84%;
    }
    
    table th:nth-of-type(3) {
        width: 8%;
    }

    

}

@media only screen and (min-width: 768px) {

    .flex-container {
        justify-content: flex-end;
    }

    table th:nth-of-type(1) {
        width: 4%;
    }
    
    table th:nth-of-type(2) {
        width: 88%;
    }
    
    table th:nth-of-type(3) {
        width: 8%;
    }

    .btn2 {
        padding: 1.2rem 2.4rem;
        font-size: 3.2rem;
    }

}